<ul>
    <li>
        <h2>Create code for short URL - /create_code</h2>
    </li>
    <li>
        <h2>Check short URL usage statistic- /statistic</h2>
    </li>
    <li>
        <h2>Check short URL redirection - /<6-sign code></h2>
    </li>
    <li>
        <h2>Short URL API - /api</h2>
        <ul>
            <li>
                <h3>GET request to retrieve statistic</h3>
            </li>
            <li>
                <h3>POST request to create redirection code</h3>
                <h3>Data - {"url": "URL-string started with 'http'"}</h3>
            </li>
        </ul>
    </li>
</ul>